<style>
#header {
 width: 100%;
 z-index: 1;
 top: 0;
}
</style>
<header class="border-bottom-thick clearfix px-1 header-picture-bg" id="header">
  <div class="left mt-h mb-h uppercase">
    <a class="align-middle sansserif link-primary header-text header-link" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <div class="right">
    <ul class="list-reset mt-h mb-h">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="inline-block">
          <a class="align-middle mr-h ml-h link-primary sansserif header-text header-link" href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>
