<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle sansserif link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 px-4 inline-block col-9 sm-width-full  mt-4 header-title">{{ site.title }}</h1>
	  <p class="h4 px-4 inline-block col-9 sm-width-full sansserif header-title">M.Sc. Student in Astrophysics @ University of Geneva</p>
          <div class="clearfix px-4 mb-4 py-1">
            <div class="col-4 sm-width-full left">
              <div class="table">
                <div class="inline-block mt-3">
                  {% include email.html %}
                </div>
                <div class="inline-block ml-3 mt-3 px-4">
                  {% include github.html %}
                </div>
              </div>
              <!-- Set site description in config.yml -->
            </div>
          </div>

        </div>
      </header>

      <p class="prose h4 small-width mt-4 ml-4 mr-4 px-2" itemprop="articleBody">
	This website is currently a construction project ...
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </p>

    </div>

    {% include footer.html %}

  </body>

</html>
